
*{
    font-family: 'Cairo', "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.text-11{
    font-size: 11px;
}
.text-12{
    font-size: 12px;
}
.text-14{
    font-size: 14px;
}
.text-15{
    font-size: 15px;
}
.nav-icon
{
    font-size: 20px
}
.text-16{
    font-size: 16px;
}
 